{% extends 'base.html.twig' %}

{% block title %}{{ theme.0.0.0.article.theme.name }} - Wild Inside{% endblock %}

{% block content %}

    <h1>{{ theme.0.0.0.article.theme.name }}</h1>
    <p>{{ theme.0.0.0.article.theme.description }}</p>

    <div class="row justify-content-center">

        {% for articles in theme %}
        <div class="row col-10 col-md-12 my-4 border rounded p-0">
            <div class="col-12 col-md-4 p-0">
                <img class="img-fluid" src="https://www.monde-economique.ch/wp-content/uploads/b0a8c9a47c1d83b49e746bb0b80b5d298c1f9c93.jpeg" alt="Card image cap">
            </div>
            <div class="col-12 col-md-8 p-3 m-0 row align-items-center justify-content-center">
                <div>
                    <h3>{{ articles.0.article.title }}</h3>
                    <div>{{ articles.0.article.description }}...<a href="{{ path('article', {'id' : articles.0.article.id}) }}">Voir plus</a></div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

{% endblock %}
