{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Wild Inside{% endblock %}

{% block content %}

    <h1 class="text-center text-uppercase m-5">{{ article.title }}</h1>
    <div class="justify-content-center">
        <a class="linkLightbox" href="/uploads/{{ moodboard.0.image }}" data-toggle="lightbox" data-gallery="gallery">
            <img class="img-fluid rounded" src="/uploads/{{ moodboard.0.image }}" alt="{{ moodboard.0.image }}">
        </a>
    </div>
    {% if article.content != null %}
        <div class="mt-4">{{ article.content | raw }}</div>
    {% endif %} 
{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox()
        });
    </script>
{% endblock %}

